.index-body {
  background: #e0dddd;
}

h1 {
  text-align: left;
  margin: 2rem 0;
  font-size: 3rem;
}

p {
  text-align: left;
  display: inline-block;
}

h4 {
  text-align: start;
  font-size: 25px;
  margin-bottom: 15px;
}

.events {
  padding: 0 15px;
  width: 100%;
  height: 100vh;
}

.all-events {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.event {
  width: 45%;
  overflow: hidden;
  background: #ffffff;
  color: #21201e;
  text-align: center;
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1.2rem;
  margin: 2rem;
}

.event:hover img {
  scale: 1.1;
  margin-right: 30px;
}

.event:hover {
  box-shadow: 5px 15px 25px #eeeeee;
}

.event img {
  border-radius: 10px;
  width: 45%;
  transform: all 0.3s;
  margin-right: 10px;
}

.delete-button {
  box-shadow: inset 0px 1px 0px 0px #f29c93;
  background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  background-color: #fe1a00;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}
.delete-button:hover {
  background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
  background-color: #ce0100;
}
.delete-button:active {
  position: relative;
  top: 1px;
}
